{
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "no-console": "warn"
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  }
}
